@font-face {
    font-family: Roboto;
    src: url(./Roboto/Roboto-Black.ttf) format('Roboto');
}
@font-face {
    font-family: Roboto-light;
    src: url(./Roboto/Roboto-Light.ttf);
}
* {
    font-family: Roboto;
}
.navbarNav{
    text-align: my-navbar;
}
.my-cover {
    background-image: url('./theater-image-background.png');
    background-size: cover;
    min-height: 800px;
    position: relative;
    color:white;
}
.feature-shows{
    font-size: 10rem;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px){
    .my-cover{
        min-height: 300px;
    }
}

.card, .footer-section, .card-body, ul, li{
    border: none;
}

.footer-section{
    height: auto;
    width: 300px;
}
footer {
    background-color: black;
}
.my-footer{
    color: white;
    padding-left: 150px;
}
li {
    font-family: Roboto-light;
}
.list-title{
    font-size:x-large;
    padding-bottom: 20px;
    font-family: Roboto;
}

@media (max-width: 480px){
    .feature-shows{
        font-size: 3rem;
    }
    .my-footer {
        padding-left: 0px;
        font-size:.8em;
    }
    .list-title{
        font-size:medium;
        padding-bottom: 0px;
    }
    .chicago{
        display: none;
    }
    .my-cover {
        background-image: none;
        color:rgb(76, 76, 76);
        min-height: 100px;
}
}
